/* MAIN NAV STYLES */
.menu {
	position:absolute;
	display:none;
	visibility:hidden;
	background-color:#1171b3;
	border: #293a82 solid 1px;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
/*	width:150px;*/
}
.subDmenu {
	position:absolute;
	display:none;
	visibility:hidden;
}
.menuItem, .menuItemHilite, .menuItemX, .menuItemHiliteX,
.menuItem:visited, .menuItemHilite:visited, .menuItem:hover, .menuItemHilite:hover,
.menuItem:active, .menuItemHilite:active, .menuItem:link, .menuItemHilite:link,
.menuItemX:visited, .menuItemHiliteX:visited, .menuItemX:hover, .menuItemHiliteX:hover,
.menuItemX:active, .menuItemHiliteX:active, .menuItemX:link, .menuItemHiliteX:link {
	font-family: Arial,Verdana, Helvetica, sans-serif ;
	font-size: 11px;
	font-style: normal;
	line-height: 18px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 10px;
	color: #e7f0fe;
	text-decoration: none;

	width: 120px;
	border-left: none;
	border-right: none;
	display: block;
}

.menuItem:hover, .menuItemHilite:hover, .menuItem:active, .menuItemHilite:active,
.menuItemX:hover, .menuItemHiliteX:hover, .menuItemX:active, .menuItemHiliteX:active {
}

.menuItem {
	background-color:#1171b3;
}

.menuItemHilite {
	background-color:#293a82;
}

.menuItemX {
	background-color:#CCCCCC;
}

.menuItemHiliteX {
	background-color:#999999;
}

/* UNUSED STYLES */
