.shadetabs {
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: bold 12px Verdana;
	list-style-type: none;
	text-align: left;
	/*set to left, center, or right to align the menu as desired*/
}

.shadetabs li {
	display: inline;
	margin: 0;
}

.shadetabs li a {
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 3px;
	border: 1px solid #000000;
	color: #1E8851;
}

.shadetabs li a:visited {
	color: #1E8851;
}

.shadetabs li a:hover {
	text-decoration: underline;
	color: #2d2b2b;
}

.shadetabs li.selected {
	position: relative;
	top: 1px;
}

.shadetabs li.selected a { /*selected main tab style */
	background-image: url(shadeactive1.gif);
	border-bottom-color: #000000;
}

.shadetabs li.selected a:hover { /*selected main tab style */
	text-decoration: none;
}

.tabcontentstyle { /*style of tab content oontainer*/
	border: 1px solid #7DA7DF;
	width: 780px;
	margin-bottom: 1em;
	padding: 10px;
	z-index: 1000;
}

.tabcontent {
	display: none;
}

@media print {
	.tabcontent {
		display: block !important;
	}
}