/* The main calendar widget.  DIV containing a table. */

.calendar {
  position: relative;
  display: none;
  border: 1px solid #2d62b6;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #c8d0d4;
  font-family: tahoma,verdana,sans-serif;
}

.calendar table {
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #4f85c6;
  border: 1px solid #7da7df;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;
  background: #4f85c6;
  padding: 1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #2d62b6;
  border-bottom: 1px solid #2d62b6;
  border-left: 1px solid #fff;
}

.calendar .nav {
  background: transparent url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;
  padding: 3px;
  border-top: 1px solid #7da7df;
  background: #2d62b6;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #2d62b6;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #7da7df;
  padding: 2px;
  text-align: center;
  background: #4f85c6;
  color: #fafafa;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  padding: 0px;
  background-color: #7da7df;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #2d62b6;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #2d62b6;
  background-color: #7da7df;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #2d62b6;
  background-color: #e7f0fe;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #aaa;
}
.calendar tbody .day.othermonth.oweekend {
  color: #faa;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #cee2f5;
  color: #2d62b6;
}

.calendar tbody .rowhilite td {
  background: #FFFFFF;
}

.calendar tbody .rowhilite td.wn {
  background: #e7f0fe;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border: 1px solid;
  border-color: #2d62b6;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
  border: 1px solid;
  border-color: #2d62b6;
  background: #cee2f5;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  padding: 2px 2px 0px 2px;
  border: 1px solid;
  border-color: #2d62b6;
  background: #cee2f5;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  font-weight: bold;
}

.calendar tbody td.today { /* Cell showing today date */
  font-weight: bold;
  background-color: #fafafa;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  background-color: #cee2f5;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  padding: 1px;
  border-bottom: 1px solid #e7f0fe;
  border-top: 1px solid #2d62b6;
  background: #7da7df;
  color: #fff;
  text-align: center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  padding: 1px;
  background: #7da7df;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: default;
  border-top: 1px solid #cee2f5;
  border-right: 1px solid #2d62b6;
  border-bottom: 1px solid #2d62b6;
  border-left: 1px solid #cee2f5;
  background: #e7f0fe;
  font-size: 90%;
  padding: 1px;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: left;
  padding: 1px 1px 1px 5px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .active {
  background: #cee2f5;
  padding: 0px 0px 0px 5px;
  border-top: 1px solid #2d62b6;
  border-right: 1px solid #cee2f5;
  border-bottom: 1px solid #cee2f5;
  border-left: 1px solid #2d62b6;
}

.calendar .combo .hilite {
  background: #ffffff;
  color: #2d62b6;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #e8f0f4;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}
